{% macro script(uris) %}
    {% for uri in uris %}
        <script src="{{ uri }}"></script>
    {% endfor %}
{% endmacro -%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Blank page{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/arim.css" />
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <!-- load optional bootstrap theme for pretty colors and cool vibes -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
    {{ script((
        "/static/js/jquery-1.11.0.js",
        "/static/js/jquery-ui-1.10.4.custom.min.js",
        "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js",
    )) }}
    {% block js %}{% endblock %}
</head>
<body>
    {% block body %}
        Page intentionally left blank.
    {% endblock %}
</body>
</html>
