        <p>
            OSU provides network connectivity in support of the educational mission of OSU. Using the network at OSU is a privilege. As such, it is the responsibility of each individual to use these services appropriately and in accordance with all University policies and applicable laws.</p>
        <p>Before using the OSU Wireless Network, you should read the OSU Acceptable Use Policy.</p>
        <p>In particular, please be aware of the following:</p>
        <ul>
            <li>The OSU Wireless Network is intended for OSU-related activities. Personal use of university computing resources that interferes with university business is not allowed.</li>
            <li>Illegally sharing copywritten material (such as music, movies or software) is expressly forbidden. Please read the File Sharing Policy.</li>
            <li>You are responsible for any activity associated with your registered wireless device(s), even if you were not aware of the activity.</li>
            <li>Your wireless access may be disabled if you violate these policies, and you may be referred to other units on campus that handle conduct/disciplinary issues.</li>
        </ul>
        <p>If you have questions about this policy, please contact the OSU Network Security Team.</p>
