{% extends 'base.html' %}


{% block js %}{{ script(('/static/js/terms.js',)) }}{% endblock %}


{% block title %}OSU Wireless Network Use Policy{% endblock %}


{% block body %}
    <div class="container" id="main">
        <div class="page-header">
            <h1>OSU Wireless Network Use Policy</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {% include 'policy.html' %}
            </div>
        </div>

        <form method="post">
            <div class="form-group">
                <input name="agree1" id="agree1" type="checkbox">
                <label for="agree1">I have read and understand the above policy.</label>
            </div>
            <div class="form-group">
                <input name="agree2" id="agree2" type="checkbox">
                <label for="agree2">I understand that illegal file sharing is not allowed on the OSU Wireless Network.</label>
            </div>
            <div class="form-group">
                <button id="submit" type="submit" class="btn btn-primary" disabled>I Agree</button>
            </div>
        </form>
    </div>
{% endblock %}
