{% extends 'base.html' %}


{% block js %}{{ script(('/static/js/terms.js',)) }}{% endblock %}


{% block title %}OSU Wireless Network Use Policy{% endblock %}


{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>OSU Wireless Network Use Policy</h1>
        </div>

        <div class="panel panel-danger" id="noscript">
            <div class="panel-heading">
                <h3 class="panel-title">Please Enable JavaScript</h3>
            </div>
            <div class="panel-body">
                This site requires JavaScript to function, but your browser currently does not support
                JavaScript. This is either because it has been disabled or is a limitation of your browser.
                To enable JavaScript, please sign in to OSU_Access and
                <a href="http://enable-javascript.com/">follow the directions here</a> or switch to a
                modern web browser with JavaScript support (such as Mozilla Firefox or Google Chrome).
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                {% include 'policy.html' %}
            </div>
        </div>

        <form method="post">
            <div class="form-group">
                <input name="agree1" id="agree1" type="checkbox"/>
                I have read, and understand the above policy.
            </div>
            <div class="form-group">
                <input name="agree2" id="agree2" type="checkbox"/>
                I understand that sharing files without a license or other authorization from the copyright holder is not allowed on the OSU Wireless Network.
            </div>
            <div class="form-group">
                <button id="submit" type="submit" class="btn btn-primary" disabled>I Agree</button>
            </div>
        </form>
    </div>
{% endblock %}
